<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="örnekkk.Properties.Settings.cafegirisConnectionString"
            connectionString="Data Source=LAPTOP-6R29T36N\SQLEXPRESS;Initial Catalog=cafegiris;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="örnekkk.Properties.Settings.cafeOtomasyonuConnectionString"
            connectionString="Data Source=LAPTOP-6R29T36N\SQLEXPRESS;Initial Catalog=cafeOtomasyonu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>